*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    background-image: url("premium_photo-1674748732558-ec38737e30ee.avif");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main{
    height: 140%;
    width: 99%;
    background-color: white;
    margin:auto;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
}

/* navbar */

#nav{
    border-top-left-radius: 20px;
    width: 6%;
    height: 100%;
    background-color: rgb(72,58,111);
}
#content{
    width: 93.5%;
    height: 100%;
    display: flex;
}
#navicons{
    height: 100%;
    width: 5.5%;
    border-top-left-radius: 20px;
    background-color: rgb(72,58,111);
    position: fixed;

}
.icons{
    width: 100%;
    height: 60px;
    text-align: center;
    align-content: center;
    font-size: 25px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}
#home{
    margin-top: 40px;
}
.icons:hover{
    color: rgb(72,58,111);
    background-color: white;
    border-radius: 20px 0px 20px 0px;
    margin-left: 1.5px;
}
#logo {
    width: 100%;
    height:80px;
    background-image: url('2.png');
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}



/* media query for the nav bar responsive */
@media only screen and (max-width:1500px) {
    #main{
        display: block;
        margin-top: 15px;
    }
    #navicons{
        width: 95%;
        height:85px;
        display: flex;
        position: absolute;
        border-top-right-radius: 20px;
    }
    #nav{
        width: 100%;
        height:85px;
        border-top-right-radius: 20px;
    }
    .icons{
        height: 100%;
        margin: 0px;
        font-size: 1.7rem;
        padding-top: 5px;
    }
    #content{
        width: 100%;
        height: 90%;
    }
    #home{
        margin-top: 0px;
    }
    #logo{
        height: 80px;
        margin-top: 0px;
        background-image: url('1.png');
        margin-right: 300px;
        border-top-left-radius:20px ;
    }
}
@media (min-width: 768px) and (max-width: 1100px) {
    #main{
        margin-top: 15px;
    }
    #logo{
        height: 85px;
        margin-top: 0px;
        background-image: url('3.png');
        margin-right: 0px;
        border-top-left-radius:20px ;
        background-size: 100% 100%;
    }
    #nav{
        position: fixed;
        bottom: 0px;
        width: 99%;
        height: 85px;
        border-radius: 0px;
        margin: 0px;
        padding: 0px;
        z-index: 1;
    }
    #navicons{
        width: 98.5%;
        height: 85px;
        position: absolute;
        bottom: 0px;
        margin: 0px;
        padding: 0px;
    }
}
@media (min-width: 0px) and (max-width: 768px) {
    #main{
        margin-top: 15px;
    }
    #logo{
        height: 75px;
        margin-top: 0px;
        background-image: url('3.png');
        margin-right: 0px;
        border-top-left-radius:20px ;
        background-size: 100% 100%;
    }
    #nav{
        position: fixed;
        bottom: 0px;
        width: 99%;
        height: 85px;
        border-radius: 0px;
        margin: 0px;
        padding: 0px;
        z-index: 1;
    }
    #navicons{
        width: 95%;
        height: 85px;
        position: absolute;
        bottom: 0px;
        margin: 0px;
        padding: 0px;
    }
    .icons{
        font-size: 20px;
        padding: 0px;
    }
}



/* content */
#content{
    height: 100%;
    width: 100%;
}
#content-col1{
    height: 98%;
    width: 68%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 20px;
    background-color: rgb(246,247, 251);
}
#content-col2{
    height: 98%;
    width: 29%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 20px;
    background-color: rgb(246,247, 251);
}


/* media query here */
 @media only screen and (max-width:1500px) {
    #main{
        height: 150%;
    }
    #content-col1{
        height: 90%;
    }
    #content-col2{
        height: 90%;
    }
 }




/* images */
#Sactivity{
    height: 350px;
    width: 97%;
    margin-left: 1.5%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-gap:6px;
}
.item1{
    grid-row-start:1;
    grid-row-end: 5;
    grid-column-start:1 ;
    grid-column-end:4 ;
    border-radius: 20px;
    background-image: url('images/tennis.avif');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.item2{
    grid-row-start:5;
    grid-row-end: 9;
    grid-column-start:1 ;
    grid-column-end:4 ;
    border-radius: 20px;
    background-image: url('images/table\ tennis.avif');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.item3{
    grid-row-start:1;
    grid-row-end: 9;
    grid-column-start:4 ;
    grid-column-end:10 ;
    border-radius: 20px;
    background-image: url('images/football.avif');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.item4{
    grid-row-start:1;
    grid-row-end: 5;
    grid-column-start:10 ;
    grid-column-end:13 ;
    border-radius: 20px;
    background-image: url('images/8ball.avif');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.item5{
    grid-row-start:1;
    grid-row-end: 5;
    grid-column-start:13 ;
    grid-column-end:16 ;
    border-radius: 20px;
    background-image: url('images/boxing.avif');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.item6{
    grid-row-start:5;
    grid-row-end: 9;
    grid-column-start:10 ;
    grid-column-end:16 ;
    border-radius: 20px;
    background-image: url('images/batminton.jpeg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.item1:hover{
   transform: scale(1.01);
   transition: 0.2s;
   box-shadow: 1px 1px 7px 2px rgb(34, 179, 166);
}
.item2:hover{
   transform: scale(1.01);
   box-shadow: 1px 1px 7px 2px rgb(34, 179, 166);
   transition: 0.2s;
}
.item3:hover{
    transform: scale(1.01);
   box-shadow: 1px 1px 7px 2px rgb(34, 179, 166);
   transition: 0.2s;
 }
 .item4:hover{
    transform: scale(1.01);
   box-shadow: 1px 1px 7px 2px rgb(34, 179, 166);
   transition: 0.2s;
 }
 .item5:hover{
    transform: scale(1.01);
   box-shadow: 1px 1px 7px 2px rgb(34, 179, 166);
   transition: 0.2s;
 }
 .item6:hover{
    transform: scale(1.01);
   box-shadow: 1px 1px 7px 2px rgb(34, 179, 166);
   transition: 0.2s;
 }



 /* media query when nav is at bottom */
 @media (min-width: 768px) and (max-width: 1100px){
    #content-col2{
        display:none;
    }
    #content-col1{
        width: 100%;
    }
 }
 @media (min-width: 0px) and (max-width: 768px){
    #content-col2{
        display:none;
    }
    #content-col1{
        width: 100%;
    }
 }




 /* issue section */
.issueSectionText{
    width: 97%;
    height: 30px;
    display:flex;
    margin-left: 1.5%;
    margin-top: 3%;
    margin-bottom: 1.5%;
}
.issueSectionText p{
    width: 50%;
    font-size: 24px;
    text-align: left;
    font-weight: 700;
}
.issueSectionText span{
    width: 50%;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
}


/* media query here */
@media only screen and (max-width:855px) {
    .issueSectionText p{
        width: 50%;
        font-size: 20px;
        text-align: left;
        font-weight: 700;
    }
    .issueSectionText span{
        width: 50%;
        font-size: 20px;
        text-align: center;
        font-weight: 700;
    }
}



#issuesection{
    height: 440px;
    width:97%;
    margin-left: 1.5%;
    background-color: white;
} 
#issuehere{
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-columns:20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
.issueitem1{
    color: white;
    border: 2px solid black;
    grid-row-start:1 ;
    grid-row-end: 2;
    grid-column-start:1 ;
    grid-column-end: 6;
    border-radius: 20px;
    background-image: url(images/swimming.avif) ;
    background-position: center;
    background-size: cover;
    opacity: 0.85;
}
.issueitem2{
    color: white;
    border: 2px solid black;
    grid-row-start:2 ;
    grid-row-end: 3;
    grid-column-start:1 ;
    grid-column-end: 6;
    border-radius: 20px;
    background-image: url(images/gym.avif) ;
    background-position: center;
    background-size: cover;
    opacity: 0.85;
    margin-top: 5px;
}
.issueitem3{
    color: white;
    border: 2px solid black;
    grid-row-start:3 ;
    grid-row-end: 4;
    grid-column-start:1 ;
    grid-column-end: 6;
    border-radius: 20px;
    background-image: url(images/track\ and\ feilds.avif) ;
    background-position: center;
    background-size: cover;
    opacity: 0.85;
    margin-top: 5px;
}
.issueitem4{
    color: white;
    border: 2px solid black;
    grid-row-start:4 ;
    grid-row-end: 5;
    grid-column-start:1 ;
    grid-column-end: 6;
    border-radius: 20px;
    background-image: url(images/fusball.avif) ;
    background-position: center;
    background-size: cover;
    opacity: 0.85;
    margin-top: 5px;
}
.issueitem5{
    color: white;
    border: 2px solid black;
    grid-row-start:5 ;
    grid-row-end: 6;
    grid-column-start:1 ;
    grid-column-end: 6;
    border-radius: 20px;
    background-image: url(images/squash.avif) ;
    background-position: center;
    background-size: cover;
    opacity: 0.85;
    margin-top: 5px;
}
.text{
    height: 100%;
    width: 33.33%;
    text-align: center;
    align-content: center;
}
.text button{
        height: 50%;
        width: 70%;
        border-radius: 20px;
        border: none;
        background-color:azure;
        font-size: 15px;
        font-weight: 600;
}


/* event section */
#events{
    height: 100%;
    width: 50%;
    margin-left: 0.5%;
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;   
}
.upevent{
    border: 2px solid black;
    grid-row-start:1 ;
    grid-row-end: 3;
    grid-column-start:1 ;
    grid-column-end: 5;
    border-radius: 20px;
}
.event{
    border: 2px solid black;
    grid-row-start:3 ;
    grid-row-end: 5;
    grid-column-start:1 ;
    grid-column-end: 5;
    border-radius: 20px;
    text-align: center;
    margin-top: 5px;
}
.event i{
    font-size: 50px;
    padding-top: 55px;
    color:#483a6f;
}


/* content col 2 */
.search{
    height: 8%;
    width: 100%;
    padding-top: 10px;
    padding-left: 19px;
}
.search input{
    height: 40px;
    width: 85%;
    text-align: center;
    border-top-right-radius: 20px;
    border: 2px solid rgb(72,58,111);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
.search i{
    color: #483a6f;
    font-size: 25px;
    padding-right: 5px;
    padding-top: 5px;
}
.idphoto{
    height: 75px;
    width: 100%;
    margin-top: 15px;
    display: flex;
}
.idphoto i{
    font-size: 22px;
    color: #483a6f;
    padding-left: 20px;
    padding-top: 5px;
}
#photo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url('user\ photo.avif'); 
    background-size: cover;
    background-position: center;
}



.content-col2-content{
    height: 745px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-gap: 25px;
}
.content-row1{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end:4 ;
    box-shadow: 1px 1px 8px 1px black;
    border-radius: 20px;
    background-image: url('right\ img/bb.avif');
    background-position: center;
    background-size: cover;
}
.content-row2{
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end:4 ;
    box-shadow: 1px 1px 8px 1px black;
    border-radius: 20px;
    background-image: url('right\ img/fb.avif');
    background-position: center;
    background-size: cover;
}
.content-row3{
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end:4 ;
    box-shadow: 1px 1px 8px 1px black;
    border-radius: 20px;
    background-image: url('right\ img/tt.avif');
    background-position: center;
    background-size: cover;
}
.content-row1:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.content-row2:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.content-row3:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
