*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
}
.form-here{
    height: 100%;
    width: 50%;
    background-image: linear-gradient(#D8D6CC,#DCD9D0,#CFCEC2,#BFBDB6,#C2C4B5,#B4B3A9,#75766F);
}
.image{
    height: 100%;
    width: 50%;
    background-color: yellow;
    background-image: url(Gemini_Generated_Image_u06bvau06bvau06b.jpeg);
    background-size: cover;
    background-position: center;
    border-left: none;
}
.head{
    height: 15%;
    width: 100%;
    text-align: center;
    align-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content{
    height: 82.5%;
    width: 100%;
}
.SName{
    height: 10%;
    width: 100%;
    margin-top: 1.5%;
}
.s_id{
    height: 10%;
    width: 100%;
    margin-top: 1.5%;
}
.dept{
    height: 10%;
    width: 100%;
    margin-top: 1.5%;
}
.contact{
    height: 10%;
    width: 100%;
    margin-top: 1.5%;
}


.s_id input{
    height: 100%;
    width: 70%;
    margin-left:10%;
    border-radius: 10px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding-left: 5px;
}
.SName input{
    height: 100%;
    width: 70%;
    margin-left: 6%;
    border-radius: 10px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding-left: 5px;
}
.dept select{
    height: 100%;
    width: 70%;
    margin-left: 8%;
    border-radius: 10px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding-left: 5px;
}
.contact input{
    height: 100%;
    width: 70%;
    margin-left: 2%;
    border-radius: 10px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding-left: 5px;
}





.s_id label{
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 2%;
    font-weight: 500;
}
.SName label{
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 2%;
    font-weight: 500;
}
.dept label{
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 2%;
    font-weight: 500;
}
.contact label{
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 2%;
    font-weight: 500;
}
.equip{
    height: 20%;
    width: 100%;
    padding-left: 2.5%;
}
.equip label{
    font-size: 18px;
}
.equip input{
    padding-left: 10%;
}



.submit-button{
    height: 10%;
    width: 100%;
    text-align: center;
    align-content: center;
}
.submit-button button{
    height: 80%;
    width: 50%;
    margin-left: 2%;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    background-color: white;
}

